body{
  // position: relative;
  overflow: hidden;
}

.bg{
  z-index: 1;
  position: absolute;
  transform-origin: 0 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // transform: scale(1.5);
  background-image: url('/images/background.png');
  background-size: cover;
}
