.poster{
  position: absolute;
  width: 200px;
  height: 240px;
  background-size: contain;
  background-repeat: no-repeat;

  &__container{
    z-index: $z-index-low;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__date{
    opacity: 0;
    position: absolute;
    transform: translateY(-100%);
    width: 8rem;
    transition: .3s ease-in-out;

    &.visible{
      opacity: 1;
    }

    &.top{
      top: 0;
      left: 0;
    }

    &.top-left{
      left: -50px;
    }

    &.top-right{
      right: -10px;
    }

    &.right{
      top: 45%;
      right: -20px;
      width: 3rem;
    }
  }
}
